<div>
<table>
  <thead>
  <tr>
    <th scope="col">s/n</th>
    <th scope="col">order</th>
    <th scope="col">quantity</th>
    <th scope="col">amount</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>leggins trouser</td>
    <td>100 bundle</td>
    <td>$35</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Boots</td>
    <td>10 pieces</td>
    <td>$100</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="1">jacket</td>
    <td>60 dozen</td>
    <td>$25</td>
  </tr>
  </tbody>
</table>
</div>
